In [1]:
liked_books = ["2517439", "113576","356824"]

In [2]:
csv_book_mapping = {}

with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id] = book_id

In [3]:
len(csv_book_mapping)

2360651

In [4]:
overlap_users = set()
# tìm users có đọc những cuốn sách nằm trong liked_books 
with open("goodreads_interactions.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        try:
            user_id, csv_id, _, rating, _ = line.split(",")
        except ValueError:
            continue
        if user_id in overlap_users:
            continue
        
        try:
            rating = int(rating)
        except ValueError:
            continue
        book_id = csv_book_mapping[csv_id]
        
        if book_id in liked_books and rating>=4:
            overlap_users.add(user_id)

In [5]:
overlap_users

{'10026',
 '10072',
 '1034',
 '10795',
 '11040',
 '11320',
 '11996',
 '12777',
 '12881',
 '1311',
 '13171',
 '13226',
 '13379',
 '1376',
 '13986',
 '14700',
 '1500',
 '2570',
 '2696',
 '3064',
 '3405',
 '3752',
 '3870',
 '4140',
 '4248',
 '4781',
 '4923',
 '4997',
 '5011',
 '5625',
 '5846',
 '5958',
 '6044',
 '6073',
 '6155',
 '6224',
 '6512',
 '6784',
 '6807',
 '730',
 '7359',
 '7659',
 '7675',
 '775',
 '8040',
 '8072',
 '8509',
 '8543',
 '8589',
 '8596',
 '8640',
 '8653',
 '8840',
 '8867',
 '8983'}

In [100]:
rec_lines = []
# tạo danh sách những cuốn sách khác mà users nằm trong overlap_users đọc
with open("goodreads_interactions.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        try:
            user_id, csv_id, _, rating, _ = line.split(",")
        except ValueError:
            continue
        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]
            rec_lines.append([user_id, book_id, rating])

In [101]:
import pandas as pd
#tạo dataFrame cho recs_line
recs = pd.DataFrame(rec_lines, columns=["user_id", "book_id", "rating"])
recs["book_id"] = recs["book_id"].astype(str)

In [102]:
#10 cuốn sách được đọc nhiều nhất
top_recs = recs["book_id"].value_counts().head(10)
top_recs = top_recs.index.values

In [103]:
top_recs

array(['5107', '356824', '5470', '960', '968', '77203', '7613', '1202',
       '13496', '2657'], dtype=object)

In [104]:
len(top_recs)

10

In [105]:
books_titles = pd.read_json("books_titles.json")
books_titles["book_id"] = books_titles["book_id"].astype(str)

In [106]:
book_titles.head()

,book_id,title,ratings,url,cover_image,mod_title
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
1,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
2,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls
3,6066812,All's Fairy in Love and War (Avalon: Web of Ma...,98,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,alls fairy in love and war avalon web of magic 8
4,287149,The Devil's Notebook,986,https://www.goodreads.com/book/show/287149.The...,https://images.gr-assets.com/books/1328768789m...,the devils notebook

In [107]:
#lấy những cuốn sách có id nằm trong top_recs
book_titles[book_titles["book_id"].isin(top_recs)]

,book_id,title,ratings,url,cover_image,mod_title
53027,77203,The Kite Runner,1848782,https://www.goodreads.com/book/show/77203.The_...,https://images.gr-assets.com/books/1484565687m...,the kite runner
74614,356824,India After Gandhi: The History of the World's...,9652,https://www.goodreads.com/book/show/356824.Ind...,https://images.gr-assets.com/books/1500471959m...,india after gandhi the history of the worlds l...
401395,5107,The Catcher in the Rye,2086945,https://www.goodreads.com/book/show/5107.The_C...,https://images.gr-assets.com/books/1398034300m...,the catcher in the rye
615314,5470,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984
769760,1202,Freakonomics: A Rogue Economist Explores the H...,529274,https://www.goodreads.com/book/show/1202.Freak...,https://images.gr-assets.com/books/1327909092m...,freakonomics a rogue economist explores the hi...
770177,7613,Animal Farm,1928931,https://www.goodreads.com/book/show/7613.Anima...,https://images.gr-assets.com/books/1424037542m...,animal farm
790927,2657,To Kill a Mockingbird,3255518,https://www.goodreads.com/book/show/2657.To_Ki...,https://images.gr-assets.com/books/1361975680m...,to kill a mockingbird
967076,13496,"A Game of Thrones (A Song of Ice and Fire, #1)",1359501,https://www.goodreads.com/book/show/13496.A_Ga...,https://images.gr-assets.com/books/1436732693m...,a game of thrones a song of ice and fire 1
1223252,960,"Angels & Demons (Robert Langdon, #1)",2046499,https://www.goodreads.com/book/show/960.Angels...,https://images.gr-assets.com/books/1303390735m...,angels demons robert langdon 1
1223254,968,"The Da Vinci Code (Robert Langdon, #2)",1465770,https://www.goodreads.com/book/show/968.The_Da...,https://images.gr-assets.com/books/1303252999m...,the da vinci code robert langdon 2

In [108]:
all_recs = recs["book_id"].value_counts()

In [109]:
all_recs

5107        29
356824      27
5470        26
960         26
968         25
            ..
162938       1
162920       1
25814249     1
30330280     1
25066556     1
Name: book_id, Length: 15674, dtype: int64

In [110]:
all_recs = all_recs.to_frame().reset_index()

In [111]:
all_recs

          index  book_id
0          5107       29
1        356824       27
2          5470       26
3           960       26
4           968       25
...         ...      ...
15669    162938        1
15670    162920        1
15671  25814249        1
15672  30330280        1
15673  25066556        1

[15674 rows x 2 columns]

In [112]:
all_recs.columns = ["book_id", "book_count"]

In [113]:
all_recs

        book_id  book_count
0          5107          29
1        356824          27
2          5470          26
3           960          26
4           968          25
...         ...         ...
15669    162938           1
15670    162920           1
15671  25814249           1
15672  30330280           1
15673  25066556           1

[15674 rows x 2 columns]

In [114]:
all_recs = all_recs.merge(book_titles, how ="inner", on = "book_id")

In [115]:
all_recs

,book_id,book_count,title,ratings,url,cover_image,mod_title
0,5107,29,The Catcher in the Rye,2086945,https://www.goodreads.com/book/show/5107.The_C...,https://images.gr-assets.com/books/1398034300m...,the catcher in the rye
1,356824,27,India After Gandhi: The History of the World's...,9652,https://www.goodreads.com/book/show/356824.Ind...,https://images.gr-assets.com/books/1500471959m...,india after gandhi the history of the worlds l...
2,5470,26,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984
3,960,26,"Angels & Demons (Robert Langdon, #1)",2046499,https://www.goodreads.com/book/show/960.Angels...,https://images.gr-assets.com/books/1303390735m...,angels demons robert langdon 1
4,968,25,"The Da Vinci Code (Robert Langdon, #2)",1465770,https://www.goodreads.com/book/show/968.The_Da...,https://images.gr-assets.com/books/1303252999m...,the da vinci code robert langdon 2
...,...,...,...,...,...,...,...
15318,162938,1,"A Walk Among the Tombstones (Matthew Scudder, ...",3339,https://www.goodreads.com/book/show/162938.A_W...,https://s.gr-assets.com/assets/nophoto/book/11...,a walk among the tombstones matthew scudder 10
15319,162920,1,"The Devil Knows You're Dead (Matthew Scudder, ...",1800,https://www.goodreads.com/book/show/162920.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the devil knows youre dead matthew scudder 11
15320,25814249,1,Cambodia Noir,300,https://www.goodreads.com/book/show/25814249-c...,https://images.gr-assets.com/books/1457907484m...,cambodia noir
15321,30330280,1,Palindrome,217,https://www.goodreads.com/book/show/30330280-p...,https://images.gr-assets.com/books/1464789762m...,palindrome
15322,25066556,1,Presence: Bringing Your Boldest Self to Your B...,6113,https://www.goodreads.com/book/show/25066556-p...,https://s.gr-assets.com/assets/nophoto/book/11...,presence bringing your boldest self to your bi...

In [116]:
all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"] / all_recs["ratings"])

In [117]:
all_recs

,book_id,book_count,title,ratings,url,cover_image,mod_title,score
0,5107,29,The Catcher in the Rye,2086945,https://www.goodreads.com/book/show/5107.The_C...,https://images.gr-assets.com/books/1398034300m...,the catcher in the rye,0.000403
1,356824,27,India After Gandhi: The History of the World's...,9652,https://www.goodreads.com/book/show/356824.Ind...,https://images.gr-assets.com/books/1500471959m...,india after gandhi the history of the worlds l...,0.075528
2,5470,26,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984,0.000334
3,960,26,"Angels & Demons (Robert Langdon, #1)",2046499,https://www.goodreads.com/book/show/960.Angels...,https://images.gr-assets.com/books/1303390735m...,angels demons robert langdon 1,0.000330
4,968,25,"The Da Vinci Code (Robert Langdon, #2)",1465770,https://www.goodreads.com/book/show/968.The_Da...,https://images.gr-assets.com/books/1303252999m...,the da vinci code robert langdon 2,0.000426
...,...,...,...,...,...,...,...,...
15318,162938,1,"A Walk Among the Tombstones (Matthew Scudder, ...",3339,https://www.goodreads.com/book/show/162938.A_W...,https://s.gr-assets.com/assets/nophoto/book/11...,a walk among the tombstones matthew scudder 10,0.000299
15319,162920,1,"The Devil Knows You're Dead (Matthew Scudder, ...",1800,https://www.goodreads.com/book/show/162920.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the devil knows youre dead matthew scudder 11,0.000556
15320,25814249,1,Cambodia Noir,300,https://www.goodreads.com/book/show/25814249-c...,https://images.gr-assets.com/books/1457907484m...,cambodia noir,0.003333
15321,30330280,1,Palindrome,217,https://www.goodreads.com/book/show/30330280-p...,https://images.gr-assets.com/books/1464789762m...,palindrome,0.004608
15322,25066556,1,Presence: Bringing Your Boldest Self to Your B...,6113,https://www.goodreads.com/book/show/25066556-p...,https://s.gr-assets.com/assets/nophoto/book/11...,presence bringing your boldest self to your bi...,0.000164

In [120]:
popular_recs = all_recs[all_recs["book_count"] > 0.1].sort_values("score", ascending=False)

In [121]:
def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val)
def show_image(val):
    return '<img  src="{}" with=50></img>'.format(val)

popular_recs[~popular_recs["book_id"].isin(liked_books)].head(10).style.format({'url': make_clickable, 'cover_image' : show_image})